:root {
    --open-sans: "Open Sans", serif;
    --nunito-sans: "Nunito Sans", serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #ffffff;
    --light-rbg: 255, 255, 255;

    --tr: .2s;
}

body {
    font-family: "Open Sans", serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    border-bottom: 1px solid #dedede;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 47px;
    padding: 26px 0;
}

.button-burger {
    display: none;
    width: 34px;
    height: 22px;
    border: none;
    background-color: transparent;
    background-image: url(../images/burger-button.svg);
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(12vw, 149px);
}

.nav-link {
    color: var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
    padding-right: 2px;
}

.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 17px;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    border-radius: 100%;
}

/* Hero */

.hero {
    background-image: url(../images/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 142px 0;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    color: rgba(var(--light-rbg), .5);
    font-size: 15px;
    margin: 0;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rbg), .5);
    transition: var(--tr);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 19px;
    margin-bottom: 18px;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rbg), .8);
    font-size: 15px;
    line-height: 160%;
}

/* Banner */

.banner {
    margin-top: 140px;
}

.banner-wrapper {
    padding: 99px 101px;
    background-image: url(../images/banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.banner-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-weight: 900;
    font-size: 60px;
    line-height: 127%;
    text-transform: uppercase;
    margin: 0 0 11px 0;
}

.banner-title span {
    display: block;
    text-align: center;
    font-family: var(--open-sans);
    color: var(--light);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    background-color: var(--accent-dark);
    max-width: 95px;
    border-radius: 14px;
    margin-bottom: 3px;
    padding: 5px 0;
}

.banner-description {
    max-width: 328px;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: rgba(var(--light-rbg), 0.8);
    margin: 0 0 14px;
}

.banner-btn {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 170px;
    border: none;
    background-color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: var(--dark);
    padding: 20px 0;
    transition: var(--tr);
}

.banner-btn:hover {
    background-color: var(--accent-dark);
}

/* Menu header */

.menu {
    margin: 104px 0 0 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 36px 0;
    position: relative;
}

.menu-title {
    margin: 0;
    font-family: var(--nunito-sans);   
    color: var(--dark);
    text-transform: uppercase;
    font-size: 44px;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;;
    gap: 30px 20px;
}

.menu-thumb {
    width: 100%;
    height: min(34vw, 430px);
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.select {
    display: block;
    width: 279px;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--dark);
    border-radius: 22px;
    border: 1px solid #dedede;
    padding: 9px 29px;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.menu-header::after {
    content: '';
    display: block;
    position: absolute;
    right: 29px;
    width: 13px;
    height: 9px;
    background: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.menu-name {
    font-family: var(--nunito-sans);
    color: var(--dark);
    font-size: 30px;
    font-weight: 600;
    line-height: 127%;
    text-align: center;
    margin: 0;
    /* padding: 20px 0 0 0; */
}

.menu-price {
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: rgba(68, 55, 55, 0.5);
    margin: 0;
    padding: 5px 0 0 0;
}

.menu-btn {
    display: block;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: var(--dark);
    margin: 20px auto;
    padding: 10px 36px 10px 58px;
    position: relative;
    transition: var(--tr);
    cursor: pointer;
}

.menu-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/cart2.svg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 29px;
}

.menu-btn:hover {
    background-color: var(--accent-dark);
}

/* Дополнительно */

.menu-add {
    margin-top: 83px;
}

.menuadd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 36px 0;
    position: relative;
}

/* Футер */

.footer {
    background-color: #1E2F40;
    margin-top: 120px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: var(--nunito-sans);
    color: rgba(var(--light-rbg), .9);
    padding: 115px 0 100px 0;
    gap: 15px;
}

.footer-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
}

.footer-nav {
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.footer-list {
    font-family: var(--open-sans);
    list-style-type: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    padding: 0;
    margin: 0;
}

.footer-list li {
    padding-bottom: 15px;
}

.footer-list span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.footer-nav a{
    display: block;
    padding-bottom: 10px;
    color: rgba(var(--light-rbg), .9);
    transition: var(--tr);
}

.footer-nav a:hover {
    color: var(--accent-light);
}

.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/logo-light-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-tel {
    display: block;
    color: var(--accent-light);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    transition: var(--tr);
    text-align: right;
}

.footer-tel.mobile {
    display: none;
}

.footer-tel:hover {
    color: var(--accent-dark);
}

.footer-item:last-child {
    flex-basis: 196px;
}

/* Contacts */

.hero-contact {
    background-image: url(../images/hero-contact.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 142px 0;
}

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/contact/03.svg);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}

.button-up {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    border: none;
    background-color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: var(--dark);
    padding: 8px 0;
    transition: var(--tr);
}

.button-up:hover {
    background-color: var(--accent-dark);
}

.button-up.hidden {
    opacity: 0;
    pointer-events: none;
}

.button-up.visible {
    opacity: 1;
}

.modal {
    display: none;
}

/* Media */

@media (max-width: 1280px) {
    .container {
        box-sizing: border-box;
    }
}

@media (max-width: 1080px) {
    .header-wrapper {
        gap: 48px;
    }
    .nav {
        gap: min(3vw, 30px);
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 142px 0 142px 10px;
    }
    .header-wrapper {
        gap: 45px;
        padding: 30px 0;
    }
    .nav {
        gap: 23px;
    }
    .logo {
        width: 150px;
        height: 47.81px;
    }
    .banner {
        margin-top: 72px;
    }
    .banner-wrapper {
        padding: 100px  40px;
        background-position: 18%;
    }
    .menu {
        margin-top: 84px;
    }
    .menu-thumb {
        height: 430px;
    }
    .menu-add {
        margin-top: 72px;
    }
    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-box.add {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .menu-item.add {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-item.add .menu-thumb {
        flex-basis: calc(63% - 20px);
        height: 260px;
        margin: 0;
    }
    .menu-item.add .menu-info {
        flex-basis: 37%;
    }
    .footer {
        margin-top: 140px;
    }
    .footer-item:nth-child(3) {
        margin-left: 23px;
    }
    .footer-item:last-child {
        display: none;
    }
    .footer-list {
        padding-top: 1px;
    }
    .footer-list li {
        padding-bottom: 14px;
    }
    .footer-tel.mobile {
        display: block;
        text-align: left;
    }
    .footer-nav a{
        padding-bottom: 9px;
    }
    .footer-nav{
        padding-bottom: 4px;
    }
    .footer-wrapper {
        padding: 59px 0 71px 0;
    }
}

    @media (max-width: 730px) {
    .nav {
        display: none;
    }
    .button-burger {
        display: block;
    }
    .logo {
        flex-grow: 1;
        width: 116px;
        height: 37px;
    }
    .header-wrapper {
        gap: 21px;
        padding: 19px 0;
    }
    .modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #fff8df;
        align-items: center;
        gap: 23px;
        box-sizing: border-box;
        transition: var(--tr);
    }
    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url(../images/modal-close.svg);
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: transparent;
    }
    .hero {
        padding: 57px 0;
        background-image: url(../images/hero-mobile.webp);
    }
    .banner {
        margin-top: 34px;
    }
    .banner-wrapper {
        padding: 33px 16px;
    }
    .banner-description {
        font-size: 14px;
        max-width: 222px;
        margin-bottom: 18px;
    }
    .banner-btn {
        width: 197px;
    }
    .breadcrumbs {
        font-size: 14px;
        gap: 12px;
    }
    .breadcrumbs-item:not(:last-child)::after {
        right: -8px;
    }
    .hero-title {
        font-size: 38px;
        margin-top: 29px;
        margin-bottom: 12px;
    }
    .hero-description {
        font-size: 12px;
        max-width: 258px;
    }
    .menu {
        margin-top: 58px;
    }
    .menu-title {
        font-size: 27px;
    }
    .select {
        width: 136px;
        font-size: 12px;
        padding: 11px 14px;
    }
    .menu-box {
        gap: 24px 20px;
    }
    .menu-thumb {
        margin: 0 0 9px 0;
        height: 50vw;
    }
    .menu-header {
        margin: 0 0 31px 0;
    }
    .menu-header::after {
        right: 11px;
    }
    .menu-name {
        font-size: 13px;
    }
    .menu-price {
        font-size: 12px;
        padding: 8px 0 11px 0;
    }
    .menu-btn {
        margin: 0 auto;
        padding: 10px 25px 10px 47px;
    }
    .menu-btn::before {
        left: 22px;
    }
    .menu-add {
        margin-top: 63px;
    }
    .menu-box.add {
        gap: 25px;
    }
    .menu-item.add .menu-thumb {
        flex-basis: calc(100% - 150px);
        height: 35vw;
    }
    .menu-item.add .menu-info {
        flex-basis: 130px;
    }
    .footer {
        margin-top: 79px;
    }
    .footer-wrapper {
        flex-direction: column;
        position: relative;
    }
    .footer-tel.mobile {
        position: absolute;
        top: 52px;
        right: 1px;
    }
    .footer-wrapper {
        margin-left: -2px;
        padding: 60px 0 50px 0;
        gap: 22px;
    }
    .footer-tel.mobile + .footer-tel.mobile {
        top: 90px;
    }
    .footer-logo {
        margin-bottom: 22px;
    }
    .footer-title {
        font-size: 18px;
        padding-bottom: 14px;
    }
    .footer-item:nth-child(3) {
        margin-left: 0;
    }
    .footer-list {
        padding-top: 0px;
    }
}
@media (max-width: 450px) {
    .menu-item.add .menu-thumb {
        flex-basis: calc(100% - 130px - 20px);
        height: 40vw;
    }
    .banner-wrapper {
        display: block;
        height: 330px;
        max-width: 450px;
        width: 100%;
        box-sizing: border-box;
    }
}